html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: monospace;
}

#main {
	width: 40%;
}

#url_input {
	border: 1px solid rgb(200, 200, 200);
	height: 35px;
	margin: 0px;
	padding-left: 10px;
	flex: 1;
}

#short_button {
	border: 1px solid rgb(200, 200, 200);
	height: 35px;
	margin: 0px;
	margin-left: 10px;
	font-family: monospace;
}

#short_form {
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#url_text {
	margin-right: 10px;
}

#message {
	text-align: center;
	margin-bottom: 5px;
	word-wrap: break-word;
}

.error {
	color: red;
}

.info {
	color: #848400;
}

#infobar {
	display: flex;
	margin-top: 10px;
}

a {
	color: rgb(150, 150, 150);
	display: block;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: underline;
}

.infoitem {
	flex: 1;
	display: flex;
	justify-content: center;
	border-right: 1px solid #cfcfcf;
}

.infoitem:last-child {
	border-right: none;
}

span .description {
	color: black;
	display: none;
	opacity: 0;
	text-align: left;
	margin-left: -100px;
	max-width: 300px;
	margin-top: 10px;
	padding: 3px;
	box-shadow: 3px 3px 10px gray;
	max-height: 33%;
	overflow-y: auto;
}

a:focus .description {
	position: absolute;
	display: inline;
	opacity: 1;
	background-color: white;
	pointer-events: auto;
}

a:focus > div {
	pointer-events: none;
}

ol, ul {
	padding-left: 15px;
	margin-top: 0px;
	margin-bottom: 5px;
}

.description li {
	font-weight: bold;
}

.description li + div {
	margin-left: 3px;
	margin-right: 5px;
}

.description {
	background:
		/* Shadow covers */
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
	
		/* Shadows */
		radial-gradient(50% 0, farthest-side, rgba(0,0,0,.3), rgba(0,0,0,0)),
		radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.3), rgba(0,0,0,0)) 0 100%;

	background:
		/* Shadow covers */
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
		
		/* Shadows */
		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.3), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.3), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
	
	background-attachment: local, local, scroll, scroll;
}
