html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: monospace;
}

#main {
	width: 40%;
}

#url_input {
	border: 1px solid rgb(200, 200, 200);
	height: 35px;
	margin: 0px;
	padding-left: 10px;
	flex: 1;
}

#short_button {
	border: 1px solid rgb(200, 200, 200);
	height: 35px;
	margin: 0px;
	margin-left: 10px;
	font-family: monospace;
}

#short_form {
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#url_text {
	margin-right: 10px;
}

#message {
	text-align: center;
	margin-bottom: 5px;
	word-wrap: break-word;
}

.error {
	color: red;
}

.info {
	color: #848400;
}

#infobar {
	display: flex;
	margin-top: 10px;
}

a {
	color: rgb(150, 150, 150);
}

a:hover {
	color: black;
}

.infoitem {
	flex: 1;
	display: flex;
	justify-content: center;
	border-right: 1px solid #cfcfcf;
}

.infoitem:last-child {
	border-right: none;
}
